option_settings:
#  aws:elasticbeanstalk:customoption:
#    NewSignupEmail: adameliot1@gmail.com
  aws:elasticbeanstalk:application:environment:
    AWS_REGION: '`{"Ref" : "AWS::Region"}`'
    DB_TABLE: fantasyplayer
  aws:elasticbeanstalk:container:nodejs:
    ProxyServer: nginx
  aws:elasticbeanstalk:container:nodejs:staticfiles:
    /static: /static
